* {
  font-family: 'Work Sans', sans-serif;
  color:white;
  scroll-behavior: smooth;
}

/*bde0fe*/

body {
  background-color:#a2d2ff;
  text-align:center;
  margin:0px;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#main-logo {
  width:300px;
  opacity:0;
  transition:opacity 1.4s;
}

#title {
  opacity:0;
  transition:opacity 1.4s;
}

#full-form {
  margin-top:30px;
  width:540px;
  height:0px;
  overflow-y:hidden;
  overflow-x:visible;
  transition:height 0.5s ease-in;
  padding-left:50px;
  padding-right:50px;
}

#form-swapper {
  background-color:#f5f5f5;
  height:50px;
  width:540px;
  border-radius: 25px 25px 0px 0;
  overflow-x:visible;
  position:relative;
  z-index:2;
}

#form-swapper button {
  width:calc(50% - 3px);
  height:50px;
  padding-bottom:70px;
  border:0px;
  background-color: rgba(0,0,0,0);
  font-size:20px;
  font-weight:600;
  border-radius:20px 20px 0px 0px;
  line-height:50px;
  z-index:2;
  color:black;
  cursor:pointer;
}

#form-swapper-slider {
  background-color:#fffffc;
  border-radius:20px 20px 0px 0px;
  position:absolute;
  left:0px;
  top:0px;
  height:51px;
  width:50%;
  z-index:-1;
  transition: left 0.5s ease;
}

#form-div {
  display:inline-block;
  background-color:#fffffc;
  width:540px;
  height:680px;
  border-radius:0px 0px 20px 20px;
  box-shadow: 5px 6px 25px #888888;
  white-space: nowrap;
  overflow-x:scroll;
  overflow-y:hidden;
}

#form-div::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

fieldset {
  border:none;
  border-left:2px solid rgba(0,0,0,0.4);
  margin:25px 20px;
  width:calc(100% - 60px);
}

.half-fieldset {
  width:calc(50% - 45px);
  margin:25px 30px;
  display:inline-block;
  margin-bottom:0px;
}

.half-fieldset:nth-child(1) {
  margin-left:20px;
  margin-right:0px;
}

.half-fieldset:nth-child(2) {
  margin-left:0px;
  margin-right:20px;
}

legend {
  text-align: left;
  color:black;
  font-weight:600;
}

.inputfield {
  border:none;
  width:100%;
  height:65px;
  color:black;
  outline:none;
  font-size:20px;
  background-color:#fffffc;
  border-bottom:2px solid rgba(0,0,0,0.5);
  font-weight:600;
  display:block;
}

#form-div #submit {
  margin-top:20px;
  color:black;
  border:none;
  height:50px;
  width:160px;
  font-size:20px;
  background-color:#caffbf;
  font-weight:600;
  border-radius:5px;
  transition: border-radius 1s, background-color 1s;
  cursor: pointer;
}

#form-div #submit:hover {
  border-radius:10px;
  background-color:#81b29a;
}

#form-div form {
  transform:translate(-50%,-50%);
  position:relative;
  top:50%;
  left:50%;
}

.form {
  width:100%;
  height:680px;
  display:inline-block;
  vertical-align: top;
}

.error {
  background-color:#f07167;
  font-size:15px;
  border-radius:10px;
  height:30px;
  line-height:30px;
  vertical-align: middle;
  width:220px;
  display: inline-block;
  animation:fade 3s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0%{opacity:1}
  100%{opacity:0}
}

#mini-logo {
  height:70px;
  vertical-align: middle;
  position: absolute;
  left:20px;
  top:12px;
}

#navbar {
  height:80px;
  line-height:80px;
  vertical-align: middle;
}

#search-bar {
  height:50px;
  border:none;
  border-radius:5px;
  outline:none;
  width:580px;
  vertical-align: middle;
  padding-left:20px;
  color:black;
  font-size:16px;
  margin-right:-40px;
  background-color:#fffffc;
}

#search-form {
  display: inline-block;
  margin-top:8px;
}

#search {
  height:50px;
}

#search-button {
  height: 30px;
  vertical-align: middle;
  position: relative;
  right: 10px;
  cursor: pointer;
}

#profile-logo {
  height:30px;
  position: absolute;
  right: 30px;
  top: 32px;
  cursor:pointer;
}

#main-body {
  height:calc(100% - 80px);
  text-align: left;
}

#side-navbar {
  height: calc(100% - 40px);
  width:60px;
  margin:15px 24px;
  background-color: #fffffc;
  border-radius:5px;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
  overflow-x: visible;
  z-index:2;
}

#side-navbar button {
  border:none;
  outline: none;
  cursor: pointer;
  width:60px;
  height:60px;
  padding:0px;
  transition: width 0.3s ease-in-out,background-color 0.3s ease-in-out;
  border-radius:5px;
  text-align: left;
  z-index:1;
  position:relative;
  overflow-x:hidden;
  background-color: rgba(0,0,0,0);
  vertical-align: middle;
}

#add-button-div {
  transition: width 0.3s ease-in-out,background-color 0.3s ease-in-out;
  border-radius:5px;
  text-align: left;
  position: relative;
  z-index: 1;
  width:60px;
  overflow-x: hidden;
  white-space: nowrap;
}

#add-dropdown {
  width:calc(100% - 65px);
  height:60px;
  vertical-align: middle;
  display: inline-block;
}

#add-dropdown button {
  color:black;
  width:65px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

#add-button-div > button > img {
  width:30px;
  margin-left:15px;
}

#add-dropdown button > img {
  width:30px;
  margin-left:0px;
}

#add-dropdown button:hover {
  background-color:#f2e8c9;
}

#side-navbar > a > img {
  width:30px;
  margin:15px;
}

#side-navbar > a {
  display: inline-block;
  width:60px;
  height:60px;
  border-radius:5px;
  transition: background-color 0.5s ease-in-out;
}

#side-navbar > a:hover {
  background-color: #fff8e3;
}

#content {
  width: calc(100% - 138px);
  height: calc(100% - 40px);
  margin-right:24px;
  background-color: #fffffc;
  border-radius:5px;
  display:inline-block;
  vertical-align: middle;
  position: relative;
}

#folder-popup,#file-popup,#item-popup {
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position: fixed;
  top:0px;
  display:none;
  z-index:2;
}

#item-popup div {
  transform:translate(-50%,-50%);
  position:absolute;
  top:50%;
  left:50%;
  z-index:3;
  background-color: white;
  border-radius:5px;
}

#item-popup button {
  background-color:rgba(0,0,0,0);
  border:none;
  outline:none;
  font-size:30px;
  color:black;
  cursor:pointer;
  margin:15px;
  font-weight:700;
}

#folder-popup > div, #file-popup > div{
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:3;
}

#folder-close, #file-close {
  width:40px;
  height:30px;
  outline:none;
  border:none;
  background-color:#fffffc;
  border-radius:5px 5px 0px 0px;
  color:black;
  font-size:20px;
  cursor:pointer;
  box-shadow: 2px 2px 18px rgba(255,255,255,0.8);
}

#folder-popup-div, #file-popup-div {
  background-color:#fffffc;
  border-radius:0px 5px 5px 5px;
  width:560px;
  height:120px;
  box-shadow: 2px 2px 18px rgba(255,255,255,0.8);
}

#folder-popup div h3,#file-popup div h3  {
  padding-top:18px;
  color:black;
  margin-bottom:0px;
  margin-top:0px;
  margin-left:25px;
}

#foldername, #filename{
  width: 400px;
  height:40px;
  margin-left:25px;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:10px;
  outline:none;
  border:none;
  color:black;
  font-size:20px;
  border-bottom:1px solid black;
}

#folder-popup .submit,#file-popup .submit {
  width: 100px;
  height:40px;
  margin:0px;
  outline:none;
  border:none;
  color:black;
  font-size:15px;
  border-radius:5px;
  cursor:pointer;
  background-color:#caffbf;
  font-weight:600;
  transition:background-color 0.5s ease-in-out;
}

#folder-popup .submit:hover,#file-popup .submit:hover {
  background-color: #81b29a;
}

#file-upload {
  margin-left:25px;
  color:black;
  font-size:15px;
  font-weight:600;
}

#file-popup-div {
  width:450px;
  height:100px;
}

#content h1 {
  color:black;
  margin-left:30px;
  font-size:24px;
  margin-top:30px;
  font-weight:800;
}

.folder {
  display:inline-block;
  width:160px;
  height:50px;
  background-color:rgb(255, 248, 227);
  border-radius:5px;
  border:1px solid black;
  color:black;
  line-height:50px;
  vertical-align: middle;
  text-align: center;
  font-size:18px;
  font-weight:600;
  cursor: pointer;
  margin:10px;
}

.folder:nth-child(1),.file:nth-child(1) {
  margin-left:10px;
}
.file {
  display:inline-block;
  min-width:120px;
  padding: 0px 30px;
  height:50px;
  background-color:rgb(255, 248, 227);
  border-radius:5px;
  border:1px solid black;
  color:black;
  line-height:50px;
  vertical-align: middle;
  text-align: center;
  font-size:16px;
  font-weight:bold;
  cursor: pointer;
  margin:10px;
  position:relative;
  z-index:1;
}

#folders,#files {
  margin-left:30px;
  display:block;
}

#dir {
  font-weight: 900 !important;
  font-size:30px !important;
}

#file-container {
  max-width:
}

.fav-logo {
  width:20px;
  position:absolute;
  left:15px;
  top:50%;
  transform:translate(-50%,-50%);
}

#file-container p {
  color:black;
  max-height:80vh;
  overflow-y:scroll;
}

.context-button {
  opacity:0;
  width:20px;
  transition:opacity 0.5s;
  position: absolute;
  top:50%;
  right:0px;
  transform:translate(-50%,-50%);
  z-index:2;
}

#file-context-menu {
  display:block;
  width:400px;
  height:600px;
  position: fixed;
  background-color:white;
  border-radius:5px;
  box-shadow: 5px 6px 10px #888888;
}
